@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7ef;
}

.box {
  height: 40rem;
}

.button:hover {
  background-color: black;
  color: white;
}

.centerScore {
  position: fixed;
  top: 40%;
  left: 38%;
}
